@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #5d4d7c;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin-bottom: 1rem;
    line-height: 2.2rem;
    color: #5b34a8;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
    margin-bottom: 1rem;
    line-height: 1.9rem;
    color: #5b34a8;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
    margin-top: 1rem ;
}

.section {
    padding: 20px;
}

.left {
    background-color: blue;
    flex: 1 1 30%;
    display: flex;
    background: url(./images/space.jpg);
    background-size:cover;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vw;
    text-align: center;
}
.logo img {
    width: 60%;
    margin-bottom: 0.6rem;
}
.logo h1 {
    color: #f8f4ff;
}

.photo-credits, .photo-credits a {
    font-size: 0.8rem;
    color: rgba(205, 170, 241, 0.6);
    margin-bottom: 10px;
}

.right {
    background-color: #f4efff;
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
    padding-inline: calc(10px + 5vw);
}

.sign-up-blurb {
    padding-top: min(4vw, 40px);
    line-height: 1.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    padding-block: 5vh;
}

.field-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 15px;
    flex: 1;
}

.field {
    min-width: min(250px, 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.field label {
    padding-bottom: 6px;
}

.invalid {
    background-image: url(./images/circle-xmark-solid-red.svg);
    background-size: 20px;
    background-position: 96%;
    background-repeat: no-repeat;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: shake 0.5s ease forwards;
    border: 2px solid #DA2E2E !important;
}

.shake {
    animation: shake 0.5s ease forwards;
}
.shake2 {
    animation: shake2 0.5s ease forwards;
}

.valid {
    background-image: url(./images/circle-check-solid-green.svg);
    background-size: 20px;
    background-position: 96%;
    background-repeat: no-repeat;
}

.required {
    background-color: #ad5fe8;
    margin-left: 5px;
    padding-inline: 5px;
    padding-block: 3px;
    color: #f8efff;
    border-radius: 5px;
    font-size: 0.7rem;
    text-align: center;
    position: absolute;
    top: 2px;
    right: 5px;
}

input {
    padding-block: 12px;
    padding-inline: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: #444;
    padding-right: 40px;
    outline: none;
    font-size: 1rem;
}

input:focus {
    outline: none !important;
    border: 2px solid #4b0cc9;
}

.message {
    font-size: 0.7rem;
    padding-top: 6px;
    color: #7e4fdc;
    flex: 1;
}

.error-message {
    font-size: 0.7rem;
    padding-top: 6px;
    color: #d81f1f;
    flex: 1;
}

button {
    padding-block: 15px;
    padding-inline: 20px;
    margin-block: 20px;
    border-radius: 10px;
    border: 1px solid #4b0cc9;
    cursor: pointer;
    background-color: #6e36df;
    color: #fbfaff;
    font-size: 1.2rem;
}

button:hover {
    background-color: #6339b5;
}
button:active {
    background-color: #7e4fdc;
}

button:disabled {
    background-color: #555;
    border: 1px solid #222;
}


/* animations */

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-5px);
	}

	20%,
	40%,
	60% {
		transform: translateX(5px);
	}

	80% {
		transform: translateX(2px);
	}

	90% {
		transform: translateX(-2px);
	}
}

@keyframes shake2 {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-5px);
	}

	20%,
	40%,
	60% {
		transform: translateX(5px);
	}

	80% {
		transform: translateX(2px);
	}

	90% {
		transform: translateX(-2px);
	}
}


